---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import type { ArticleType } from "../../types/ArticleType";

const response = await fetch(`${import.meta.env.API_URL}/articles?populate=image`);
const results = await response.json();
const articles = results.data
---

<Layout title="Cards">
  <h1 class="p-4 text-2xl font-semibold uppercase text-black">Articles</h1>
  <div class="p-4">
    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      {articles.map((article: ArticleType) => <a href={`articles/${article.id}`}><Card title={article.attributes.titre} content={article.attributes.contenu} image={article.attributes.image} /></a>)}
    </ul>
  </div>
</Layout>
